<% provide(:title, "About") %>
<h1>About</h1>
<p align="center">
  Kishore is currently pursuing B.tech in Electrical Engineering from
  <a href="http://www.iitmandi.ac.in">IIT Mandi </a> and is expected to graduate in 2019. He has keen interest in web development. Besides, he is an ardent volleyball player.
</p>
<%= stylesheet_link_tag 'application' %>  