<% provide(:title, "Home ") %>
<div class="center jumbotron">
  <h2>Team Projects </h2>
  <li>Anti Suicidal Bot</li>
  <p>     The idea behind this project was to make a fully automated robot that avoids falling into pits and crashing into barriers. It stood 3rd in "open house Aavishkar" competition.</p>
  <li>Waste-Go-Ways</li>
  <p>     We built a cost efficient waste segregator which separates wastes into metals, plastics and the rest. Total expenditure during the project was about Rs. 10,000/-</p>
  <h2>Skills</h2>
  <li>Programming languages</li>
  <p>     C, C++, HTML, CSS</p>
  <li>Full-stack web development</li>
</div>
